---
title: Home
layout: layouts/home.njk
description: The HackerSpace Blog
date: Last Modified
---

<div class="tip">
    <p> If you're here for Fresher's Week, check out our <a href="/domains/">Domains!</a> </p>
</div>

<div id="posts">
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
