<!-- TODO fix this -->
<!-- include the fancy domain icons incoming for this as well -->

<div class='postlist'>
{% for post in postslist | reverse %}
  <div class='postlist-post'>

      <a href="{{ post.url | url }}">
        {% if post.data.title %}
          {{ post.data.title }}
        {% else %}
          <code>{{ post.url }}</code>
        {% endif %}
      </a>
  </div>
{% endfor %}
</div>
